<div *ngIf="!!studentDetails; else loading" [@inOutAnimation]>
  <section class="student">
    <img class="student__img" [src]="studentDetails.imageURL" alt="">
    <div class="student__meta">
      <h2>{{ studentDetails.name }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>Adm No</td>
            <td>{{ studentDetails.admissionNumber }}</td>
          </tr>
          <tr>
            <td>Class</td>
            <td>2 East</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="trend">
    <h2>Performance Trend</h2>
    <app-chart [performanceData]="studentDetails.performanceOvertime"></app-chart>
  </section>

  <section class="exam">
    <h2>{{ studentDetails.examName }}</h2>

    <div class="exam__top">
      <div class="exam__info">
        <table style="margin-bottom: 20px">
          <thead>
            <tr>
              <th class="c-text--left">Rank In</th>
              <th>Rank</th>
              <th>Out Of</th>
              <th>Deviation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!!studentDetails.streamPosition">
              <td class="c-text--left">Stream</td>
              <td>{{ studentDetails.streamPosition?.position }}</td>
              <td>{{ studentDetails.streamPosition?.positionOutOf }}</td>
              <td>
                <app-deviation [deviation]="studentDetails.streamPosition.deviation"></app-deviation>
              </td>
            </tr>
            <tr *ngIf="!!studentDetails.overallPosition">
              <td class="c-text--left">Overall</td>
              <td>{{ studentDetails.overallPosition?.position }}</td>
              <td>{{ studentDetails.overallPosition?.positionOutOf }}</td>
              <td>
                <app-deviation [deviation]="studentDetails.overallPosition.deviation"></app-deviation>
              </td>
            </tr>
          </tbody>
        </table>

        <mat-card class="exam__performance-card grade-{{ getClassFromGrade(studentDetails.meanGrade) }}">
          <mat-card-content>
            <div class="container">
              <p>{{ studentDetails.meanGrade }}</p>
              <div class="meta">
                <span>{{ studentDetails.meanMark?.avgScore }} points</span>
                <app-deviation [deviation]="studentDetails.meanMark ? studentDetails.meanMark.deviation: 0"></app-deviation>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <mat-card class="exam__remarks">
        <mat-card-content>
          <mat-card-title>Remarks</mat-card-title>

          <h3>Class Teacher</h3>
          <p>{{ studentDetails.classTeacherRemarks }}</p>

          <h3>Principal</h3>
          <p>{{ studentDetails.principalRemarks }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <section class="exam__subject-results">
      <h3>Subject Performance</h3>
      <table>
        <thead>
          <tr>
            <th class="c-text--left">Subject</th>
            <th>Score</th>
            <th>Grade</th>
            <th>Rank</th>
            <th>Out Of</th>
            <th>Deviation</th>
            <th class="c-text--left">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subjectResult of studentDetails.subjectResults; index as i">
            <td class="c-text--left">{{ subjectResult.name }}</td>
            <td>{{ subjectResult.score }}</td>
            <td>
              <div class="grade grade-{{ getClassFromGrade(subjectResult.grade) }}">
                {{ subjectResult.grade }}
              </div>
            </td>
            <td>{{ subjectResult.rank }}</td>
            <td>{{ subjectResult.rankOutOf }}</td>
            <td>
              <app-deviation [deviation]="subjectResult.deviation ?? 0"></app-deviation>
            </td>
            <td class="c-text--left">{{ subjectResult.comments }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
